html, body {
  margin: 0;
  padding: 0;
  background: #000;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#game {
  width: 360px;
  height: 640px;
  image-rendering: pixelated;
}
